@import "./slider.css";

#slider1 {
    width: calc(100% - 42px);
    min-width: 200px;
    height: 400px;
    margin: 20px;
    float: left;
}
#slider2, #slider3 {
    width: calc(50% - 22px);
    min-width: 90px;
    height: 200px;
    margin: 10px;
    float: left;
}
